.container {
  border: 2px solid black;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #e1dada;
}

h1 {
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

Button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.link-table {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.link-table li {
  margin: 0 20px;
}

.link-table a {
  text-decoration: none; /* Убираем подчеркивание */
  color: #000000; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: 2px solid transparent; /* Прозрачная рамка */
  border-radius: 5px; /* Закругленные углы */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
}

.link-table a:hover {
  border-color: #5a5b5c; /* Цвет рамки при наведении */
  background-color: #d7e0e9;
}
